<!DOCTYPE>
<html>
	<head>
		<title>Cat Dead Details Later Records!</title>
		<style>
			body {
				background-color: black;
			}
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
	</head>
	<body>
		<img src="header_final.jpg" alt="Cat Dead Detail Later" usemap="#headermap">
		
		<map name="headermap">
			<area shape="rect" coords="11,3,731,491" href="index.html" alt="Home">
			<area shape="rect" coords="173,501,614,663" href="http://catdead.bigcartel.com/" alt="Store">
		</map>
	</body>
</html>